<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body >
	<div class="alert alert-success" style="display: none;position: absolute;width: 100%;margin: 0px auto;text-align: center; z-index: 100;">
  		<strong>Success!</strong> You should <a href="#" class="alert-link">read this message</a>.
	</div>
	<div class="container" id="app" style="width: 90%;padding: 0px">
		<div class="row">
			<div class="col-xs-12">
				<img src="logo_vue.png" v-bind:title="years_php" width="70px" class="pull-left">
				<hello-vue class="pull-rigth"></hello-vue>
				<a href="repaso.html" title="">repaso</a>
			</div>
			<div class="col-md-8">
				<form @submit.prevent="signUp(false)"> 
					<div class="row" style="min-height: 100px">
						<div class="col-xs-10">
							<div class="alert alert-warning" v-if="!name || name.length <3 || !lastname || lastname.length < 4">
								<ul>
									<li v-show="!name">Ingrese un nombre</li>
									<li v-show="name.length < 3">El nombre debe ser mayor a 3 caracteres</li>
									<li v-show="!lastname">Ingrese el apellido</li>
									<li v-show="lastname.length < 4">El apellido debe ser mayor a 3 caracteres</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12" v-if="name || lastname">
							<welcome-message v-bind:name="name" v-bind:lastname="lastname" v-bind:gender="gender" v-bind:spanish="spanish"></welcome-message>
							<welcome_system v-bind:reverse_name="reverse_name" v-bind:spanish="spanish"></welcome_system>
							{{welcome_system}}
						</div>
					</div>
					<div class="input-group">
					  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" placeholder="name" v-model="name">
						<input type="text" class="form-control" placeholder="lastname" v-model="lastname">
					</div>
					<label>Masculino: <input type="radio" value="m" v-model="gender"></label>
					<label>Femenino: <input type="radio" value="f" v-model="gender"></label>
					<label>Hablas español?: <input type="checkbox" v-model="spanish"></label>
					<div class="panel">
						<h2>Components</h2>
						<div class="panel panel-default">
							<template v-for="tech in techs">
								<years-exp :years.sync="tech.years" :tech='tech.name'></years-exp>
							</template>
							<form class="form">
								<div class="panel-body">
									<div class="col-md-6">
										<div class="form-group">
										  	<label >Name</label>
											<input type="text" placeholder="name tech" class="form-control" v-model="new_tech.name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
										  <label >Years:</label>
										  <select class="form-control" v-model="new_tech.years">
										    <option>0</option>
										    <option>1</option>
										    <option>2</option>
										    <option>3</option>
										    <option>5</option>
										    <option>6</option>
										    <option>7</option>
										    <option>8</option>
										    <option>9</option>
										    <option>10</option>
										  </select>
										</div>
									</div>
									<button type="button" class="btn btn-warning" @click="newTech">Agregar</button>
								</div>
							</form>
						</div>
					</div>
					<button type="submit" class="btn btn-primary" 
					:style="{background: 'rgb(17, '+10*years_php+', 0)'}" 
					@click="signUp(false, $event)"
					v-bind:disabled="!name || name.length <3 || !lastname || lastname.length < 4">Registrar</button>
					<button type="submit" class="btn btn-info" 
					@click="signUp(true, $event)" 
					v-bind:disabled="!name || name.length <3 || !lastname || lastname.length < 4">Registrar y Salir</button>
				</form>
				<div class="panel">
					<h2>Techs</h2>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-md-3">
								<h3>orderBy 'name'</h3>
								<ul v-for="tech in techs | orderBy 'name'">
									<li>{{ tech.name }}</li>
								</ul>
							</div>
							<div class="col-md-3">
								<h3>orderBy 'name' -1</h3>
								<ul v-for="tech in techs | orderBy 'name' -1 ">
									<li>{{ tech.name }}</li>
								</ul>
							</div>
							<div class="col-md-3">
								<h3>orderBy 'years' -1</h3>
								<ul v-for="tech in techs | orderBy 'years' -1 ">
									<li>{{ tech.name }}</li>
								</ul>
							</div>
							<div class="col-md-3">
								<h3>orderBy 'years' -1 | years>0</h3>
								<ul v-for="tech in techs | years | orderBy 'years' -1 ">
									<li>{{ tech.name }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<h2>Example v-for</h2>
					<div class="panel panel-default">
						<div class="panel-body">
							<ul v-for="note in notes" class="list-group">
								<li class="list-group-item">{{ $index + 1}} {{note.text}} <b>por: {{note.autor}}</b> </li>
							</ul>
						</div>
						<form class="form" @submit.prevent="newNotes">
							<div class="panel-body">
								<input type="text" placeholder="Autor" class="form-control" v-model="new_note.autor">
									<hr>
								<textarea class="form-control" v-model="new_note.text"></textarea>
									<hr>
								<button type="submit" class="btn btn-primary" v-bind:disabled="!new_note.autor && new_note.text">Agregar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<pre>{{ $data |json }}</pre>
				</div>
			</div>
		</div>
	</div>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.12/vue.js"></script>
<!-- 	<script src="js/vue.js"></script> -->
	<script type="text/template" id="years_template">
		<p class="pull-rigth">Cuantos años de experiencia tienes con {{tech}}?
			<label >[ <b style="font-size: 1.2em">{{years}}</b> ]</label>
			<button type="button" :class="{ btn:true, 'btn-danger': years > 0}" @click="add()"
				v-bind:disabled="years==10"
				style="float: right;" 
			>+</button>
			<button type="button" 
			 :class="{btn:true, 'btn-primary': true}"
				style="float: right;" 
			 v-bind:disabled="years==0" @click="sub()">-</button>
		</p>
		<div class="progress">
		  <div class="progress-bar progress-bar-striped" 
		  :class="{
		  'progress-bar-danger': years<3,
		  'progress-bar-warning':years<6,
		  'progress-bar-info': years<8,
		  'progress-bar-success' : years==10}" 

		  role="progressbar"
		  aria-valuenow="" aria-valuemin="0" aria-valuemax="100" :style="{width: 10*years+'%'}">
		    {{10*years}}% Years
		   </div>
		</div>
	</script>
	<script type="text/template" id="welcome-message">
		<h1>{{welcome_message}}, {{full_name | uppercase}}</h1>
	</script>
	<script type="text/template" id="welcome_system">
		<h5>{{welcome_text}}, <b>{{reverse_name | ucwords}}</b> </h5>
	</script>
	<script type="text/javascript">
		Vue.component('hello-vue',{
			template: '<h2>Hello Vue.js</h2>'
		});
		Vue.filter('years',function(techs){
			return techs.filter(function(tech){
				return tech.years > 0;
			});
		});
		Vue.component('welcome_system',{
			template: '#welcome_system',
			computed:{
				welcome_text: function(){
					if (this.spanish)
						return 'Bienvenido al sistema desarrollado en Vue.js';
					else
						return 'Welcome to the system developed in Vue.js';
				}
			},
			props:{
				spanish: {type: Boolean, require: true, default: true},
				reverse_name:{type: String}
			}
		});
		Vue.component('welcome-message',{
			template: '#welcome-message',
			data:{
				spanish: true
			},
			computed:{
				welcome_message:function(){
					if (this.spanish){
						return this.gender == 'm' ? 'Bienvenido' : 'Bienvenida';
					}else{
						return 'Welcome';
					}
				},
				full_name:function(){
					return this.name+' '+this.lastname;
				}
			},
			props:{
				gender: {type: String, require: false, default: 'm'},
				spanish: {type: Boolean, require: true, default: true},
				name: {type: String, require: true},
				lastname: {type: String, require: true}
			}
		});
		Vue.component('years-exp',{
			template: '#years_template',
			methods:{
				add: function(){
					this.years++;
				},
				sub: function(){
					this.years--;
				},
			},
			props:['years','tech']
		});
		new Vue({
			el: '#app',
			data:{
				name: "Carlos",
				lastname: "Jimenez",
				gender: "m",
				spanish: true,
				techs: [
					{ name: 'php', years: 5},
					{ name: 'js', years: 9},
					{ name: 'html', years: 2},
					{ name: 'python', years: 6}
				],
				new_tech: {name: '',years: 0},
				notes: [
					{
						text: 'V-for es la directiva que utiliza para tener una lista',
						autor: 'Dulio'
					},
					{
						text: 'Con vue puedes crear tus propios componentes',
						autor: 'Styde'
					}
				],
				new_note: {text: '',autor: ''}
			},
			methods:{
				signUp: function(logout,event){
					if (logout){
						event.preventDefault();
						alert(this.name + ' Gracias por registrarte.. Adios!');
					}else
						alert(this.name + ' Gracias por registrarte..');
				},
				newNotes: function(){
					this.notes.push(this.new_note);
					this.new_note = {text: '',autor: ''};
				},
				newTech: function(){
					this.techs.push(this.new_tech);
					this.new_tech = {name: '',years: 0};
				}
			},
			watch:{
				gender: function(gender){
					alert(gender);
				}
			},
			computed:{
				reverse_name:function(){
					return (this.name+' '+this.lastname).split('').reverse().join('');
				}
			}
		});
	</script>
</body>
</html>