<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body >
	<div class="container" id="app">
		
		<form @submit.prevent="signUp(false)">
			<div class="row" style="min-height: 100px">
				<img src="logo_vue.png" v-bind:title="years_php" width="70px" class="pull-left">
				<div class="col-xs-12" v-if="name">
					<h1>{{ gender=='m' ? 'Bienvenido' : 'Bienvenida'}}, {{name}}</h1>
					<p>Bienvenido al sistema desarrollado en Vue.js {{ !name.split('').reverse().join('') }}¡</p>
				</div>
			</div>
			<input type="text" class="form-control" placeholder="name" v-model="name">
			<label>Masculino: <input type="radio" value="m" v-model="gender"></label>
			<label>Femenino: <input type="radio" value="f" v-model="gender"></label>
			<p>Cuantos años de experiencia tienes con PHP?</p>
			<p>
				<label>{{years_php}}</label>
				<button type="button" :class="{ btn:true, 'btn-danger': years_php > 0}" @click="addYears()">+</button>
				<button type="button" 
				 :class="{btn:true, 'btn-primary': years_php > 10}"
				 v-bind:disabled="years_php==0" @click="subYears()">-</button>
			</p>

			<button type="submit" class="btn btn-primary" 
			:style="{background: 'rgb(17, '+10*years_php+', 0)'}">Registrar</button>
			<button type="submit" class="btn btn-primary" @click="signUp(true, $event)">
				Registrar y Salir
			</button>
		</form>
		<hr>
		<div class="row">
			<div class="alert alert-danger" v-if="!name | name.length <3">
				<ul>
					<li v-show="!name">Ingrese un nombre</li>
					<li v-show="name.length < 3">El nombre debe ser mayor a 3 caracteres</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<pre>{{ $data | json }}</pre>
		</div>
	</div>

	<script src="js/vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data:{
				name: "Carlos",
				gender: "m",
				years_php : 0
			},
			methods:{
				signUp: function(logout,event){
					if (logout){
						event.preventDefault();
						alert(this.name + ' Gracias por registrarte.. Adios!');
					}else
						alert(this.name + ' Gracias por registrarte..');
				},
				addYears: function(){
					this.years_php++;
				},
				subYears: function(){
					this.years_php--;
				}
			}
		});
	</script>
</body>
</html>