<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container" id="app">
		<form @submit.prevent="signUp(false)">
			<div class="row" style="min-height: 100px">
				<div class="col-xs-12" v-if="name">
					<h1>{{ gender=='m' ? 'Bienvenido' : 'Bienvenida'}}, {{name}}</h1>
					<p>Bienvenido al sistema desarrollado en Vue.js {{ !name.split('').reverse().join('') }}¡</p>
				</div>
			</div>
			<input type="text" class="form-control" placeholder="name" v-model="name">
			<label>Masculino: <input type="radio" value="m" v-model="gender"></label>
			<label>Femenino: <input type="radio" value="f" v-model="gender"></label>
			<p>Cuantos años de experiencia tienes con PHP?</p>
			<p>
				<input type="number" name="years_php" v-model="years_php">
				<button type="button" class="btn" @click="years_php ++">+</button>
				<button type="button" class="btn" @click="years_php --">-</button>
			</p>

			<button type="submit" class="btn btn-primary">Registrar</button>
			<button type="submit" class="btn btn-primary" @click="signUp(true, $event)">
				Registrar y Salir
			</button>
		</form>
		<hr>
		<div class="row">
			<div class="alert alert-danger" v-if="!name | name.length <3">
				<ul>
					<li v-show="!name">Ingrese un nombre</li>
					<li v-show="name.length < 3">El nombre debe ser mayor a 3 caracteres</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<pre>{{ $data | json}}</pre>
		</div>
	</div>

	<script src="js/vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data:{
				name: "Carlos",
				gender: "m",
				years_php : 0
			},
			methods:{
				signUp: function(logout,event){
					if (logout){
						event.preventDefault();
						alert(this.name + ' Gracias por registrarte.. Adios!');
					}else
						alert(this.name + ' Gracias por registrarte..');
				}
			}
		});
	</script>
</body>
</html>